.estilo_letra{
font-family: "Bebas Neue", sans-serif;
font-size:xx-large;
}
.mi-nav{
position: fixed;
z-index: 1000;

}
.contenedor{
    margin: 80px;
    display: flex;
    gap: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
#historia {
    margin-top: 80px;
}